* {
margin: 0;
}

body {
font-family: Verdana;
font-size: 14pt;
}

header {
background-color: #3375e0;
width:900px;
}

header h1 {
padding: 10px;
color: rgb(255,255,255);
font-family: Impact;
font-weight: normal;
}

header h2 {
float: right;
width: 50px;
height: 50px;
}

header h2:hover {
background-color: rgb(255, 255, 255);
}

#wrapper {
width: 900px;
}

nav {
background-color: #cccccc;
width: 900px;
}

nav a {
font-family: Impact;
font-size: 15pt;
color: black;
text-decoration: none;
display: inline-block;
width: 150px;
height: 50px;
line-height: 50px;
text-align: center;
}

nav a:hover {
background-color: rgb(255,255,255);
}

main a {
margin: 10px 20px 40px 20px;
}

main article {
margin: 20px;
font-family: Impact;
font-size: 25pt;
display: inline-block;
text-align: center;
}

main article:hover {
background-color: rgb(255,255,255);
}

main a1 {
margin: 20px;
font-family: Impact;
font-size: 25pt;
display: inline-block;
width: 300px;
}

main a1:hover {
background-color: rgb(255,255,255);
}

footer {
background-color: #cccccc;
}

footer article {
font-family: Tahoma;
padding: 20px;
}
